<ul class="nav justify-content-end">
    <h1 class="header">Knowledge Base / Articles</h1>
    <li class="nav-item">
      <a class="nav-link active" ><span class='fa fa-group'></span> Dashboard</a>
    </li>
    <div class="vertical">

    </div>
    <li class="nav-item">
      <a class="nav-link" (click)=" myArticle()"><span class='fa fa-list'></span>My Articles</a>
    </li>
    <div class="vertical">

    </div>
    <li class="nav-item">
      <a class="nav-link" (click)="openAdd()"><span class='fa fa-book'></span>Add Articles</a>
    </li>
    <div class="vertical">

    </div>
  </ul>



<div class="main-contaner">
<form [formGroup]="addForm" (ngSubmit)="onAddArticle()">
<div class="container">


  <!-- <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-6">
        <label><b>Article_name</b></label>
        <input formControlName="article_name" type="text" class="form-control" >
      </div>
    </div>
  <div class="row">
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 col-md-8">
      <label><b>Description</b></label>
      <ejs-richtexteditor formControlName="content"></ejs-richtexteditor>
    </div>
  </div> -->
  <br/>
  <table class="table table-bordered ">
    <tbody>
      <tr>
        <td>category</td>
        <td><select formControlName="category_name" class="custom-select" >
            <option value="">Choose your category</option>
            <option *ngFor="let item of arr1" [value]="item.category1">{{item.category1}}</option>
          </select></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>Description</td>
      </tr>
    </tbody>
  </table>
  <ejs-richtexteditor formControlName="content" class="box"></ejs-richtexteditor>
<!-- <div class="row">
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 col-md-8">
      <label><b>Image 1</b></label>
     <input type="text" formControlName="" class="form-control">
    </div>
  </div> -->
  <br>
</div>
<div class="container">
  <div class="row custom-wrapper">
    <div class="col-md-12 btn-box">
      <button type="submit" class="btn btn-primary btn-sm-2 text-white btn-save">Save</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btn-sm-2 text-white btn-cancel" aria-label="Close" (click)="modal.dismiss('Cross click')">Close</button> <br/>
    </div>
  </div>
</div>
<br/>
<!-- </div> -->
</form>
</div>
