<div>
     <div class="header" style="background-color: white">
      <a  class="font-light m-b-xs titlename">Edit Article </a>
      <div class="header-right">
        <a class=""  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;">
        <i class="fa fa-users" aria-hidden="true"></i> My Dashboard</a>
        <a class="" (click)=" myArticle()"  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;"><i class="fa fa-list"></i> My Articles</a>
        <a class="btn btn-white btn-xs"  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;" >  <i class="fa fa-book"></i>Add Article</a>
      </div>
    </div>


     
    <form [formGroup]="kb" (ngSubmit)="onEditArticle()">
<div class="col-md-8" style = " "> 
<!-- <div  style="display: inline-block; vertical-align: top;border-right-width:2px solid #ddd7d7;padding-top:20px">  -->
<div class="row table-responsive content" style="padding: 30px">
<table class="table table-bordered">
   <tbody>
      <tr>
         <div class="form-group">
         <td style="width:150px;"> Article Name<span style="color:red">*</span></td>
         <td>
            <input formControlName="ArticleName" type="text"  class="form-controll" style="width:300px;">
         </td>
         </div>
      </tr>
      <tr>
         <div class="form-group">
         <td> Category</td>
         <td>
            <select data-val="true" data-val-number="The field CategoryId must be a number." id="ideditcategory" name="CategoryId" style="width:300px;">
               <!-- <option selected="selected" value="1">Accounts Recivables - Collections</option>
               <option value="3">Office - Practice Management</option>
               <option value="2">Surgical Authorizations &amp; Verifications</option> -->
               <option value="">Choose your category</option>
               <option *ngFor="let item of arr" [value]="item.CategoryName">{{item.CategoryName}}</option>
            </select>
         </td>
      </div>
      </tr>
      <tr>
         <div class="form-group">
         <td> Description  </td>
      </div>
        <tr>
       <ejs-richtexteditor></ejs-richtexteditor>
      </tr>
   </tbody>
</table>

</div>
</div>
</form>
 </div>
 
    

