<div>
     <div class="header" style="background-color: white">
      <a  class="font-light m-b-xs titlename">Edit Article </a>
      <div class="header-right">
        <a class=""  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;">
        <i class="fa fa-users" aria-hidden="true"></i> My Dashboard</a>
        <a class="" (click)=" myArticle()"  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;"><i class="fa fa-list"></i> My Articles</a>
        <a class="btn btn-white btn-xs"  style="color: #3498db;padding: 8px;font-size: 10pt;height:34px !important;font-weight: 600;border-right: 1px solid #f1f1f1;" >  <i class="fa fa-book"></i>Add Article</a>
      </div>
    </div>


<!--      
    <form [formGroup]="kb" (ngSubmit)="UpdateItem()"> -->
<div class="col-md-8" style="">
<div id="dvarticlecontainer" style="display: inline-block; vertical-align: top;border-right:1px solid #d8d8d8;padding-top:20px">
<div class="row table-responsive content" style="padding:40px">
<table class="table table-bordered">
   <tbody>
      <tr>
         <td style="width:150px;"> Article Name<span style="color:red">*</span></td>
         <td>
            <input type="text"  id="idarticlename" style="width:300px;">
         </td>
      </tr>
      <tr>
         <td> Category</td>
         <td>
            <select data-val="true" data-val-number="The field CategoryId must be a number." id="ideditcategory" name="CategoryId" style="width:300px;">
               <!-- <option selected="selected" value="1">Accounts Recivables - Collections</option>
               <option value="3">Office - Practice Management</option>
               <option value="2">Surgical Authorizations &amp; Verifications</option> -->
               <option value="">Choose your category</option>
               <option *ngFor="let item of arr" [value]="item.category1">{{item.CategoryId}}</option>
            </select>
         </td>
      </tr>
      <tr>
         <td> Description</td>
      </tr>
   </tbody>
</table>
</div>
</div>
</div>
 </div>
 
    

