<div class="tab-pane" id="readarticletabview">
    <div class="row" style="padding:10px" *ngFor="let item of arr; let i=index">
        <div class="col-md-12" style="padding:20px;">
            <div class="hpanel  blog-box">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                          <div ></div>
                            <img  src="http://qa.zoomteams.com/images/a3.jpg"alt="profile-picture" class="avatar">
                        </a>
                        <div class="media-body">
                            <small>Created by: {{item.CreatedBy}}<span class="font-bold"></span> </small>
                            <br>
                            <small class="text-muted">
                              {{item.CreatedTime}}{{item.CreatedDate}}
                            </small>
                            <br>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h3>{{item.ArticleName}}</h3><!--article name-->
                    <hr>
                    <div>
                      <!--preview content--><h3>{{item.PreviewContent}}</h3>
                    </div>
                    <span> IANS</span>
                    <span><span> Updated </span>{{item.ModifiedDate}}{{item.ModifiedTime}}</span>
                  </div>
           </div>
          </div>
          <div>{{item.Content}}</div>
    </div>
</div>
